:root{
    --primary-white:#FEFBF6;
    --second-orange:#DC6B19;
    --third-purple:#6C0345;
    --fourth-yellow:#F7C566;
    --fifth-abano:#FFF8DC;
    --sixt-green:#B4C6A6;
    --seven-gray:#E7E6E1;
}
/* color white and gray para bases */
/* color purple and orange for efects , hovers etc */
/* yellow , abano green para presentacion de poryectos */