/* Frame 7 */

position: absolute;
width: 353px;
height: 329px;
left: 930px;
top: 279px;

background: #EEEEEE;

/* Frame 5 */

position: absolute;
width: 352px;
height: 329px;
left: 121px;
top: 279px;

background: #FF0000;
